<!DOCTYPE html>
<html>
	<head>
		<%- include('ui/header'); %>
	</head>
	<body>
		<%- include('ui/menu', {user: user}); %>

		<div class="container-fluid d-flex m-3 justify-content-center">
			<div class="container-md d-flex flex-column align-items-center">
				<h1 class="display-6">Actividades Disponibles</h1>
				<div class="container d-flex flex-row mx-3 flex-wrap align-items-center">
					<% activities.forEach(a => { %>
						<div class="card text-center w-50">
							<div class="card-header">Actividad</div>
							<div class="card-body">
								<img src="activities/<%= a.image %>" class="card-img-top mb-2" alt="Imagen de la actividad <%= a.name%>"-->
								<h5 class="card-title fw-bold"><%= a.name %></h5>
								<p class="card-text"><%= a.description %></p>
								<a href="activity?name=<%= a.name %>" class="btn btn-success">Entra en esta actividad</a>
							</div>
						</div>
					<% }) %>
				</div>
			</div>

			<div class="container d-flex flex-column align-items-center">
				<h1 class="display-6">Últimos Experimentos</h1>
				<div class="container" id="data">
					<%- include('table/experiments'); %>
				</div>
			</div>
		</div>
	</body>
</html>
