<table class="table table-sm table-striped table-hover table-borderless caption-top" id="activitiesTable">
  <caption>Actividades disponibles</caption>
  <thead class="table-primary">
    <tr>
      <th scope="col" class="align-middle"><input type="checkbox"></input></th>
      <th scope="col" class="align-middle"></th>
      <th scope="col" class="align-middle"></th>
      <th scope="col" class="align-middle">Nombre</th>
      <th scope="col" class="align-middle">Vista</th>
      <th scope="col" class="align-middle">Versi칩n de la Vista</th>
      <th scope="col" class="align-middle">Controlador</th>
      <th scope="col" class="align-middle">Versi칩n del Controlador</th>
    </tr>
  </thead>
  <tbody>
    <% result.forEach(function(a){ %>
      <tr id="activity-<%= a.name %>">
        <td class="align-middle"><input type="checkbox"></input></td>
        <td class="align-middle"><i class="bi bi-pencil" style="cursor:pointer"></i></td>
        <td class="align-middle"><i class="bi bi-trash" style="cursor:pointer"></i></td>
        <th scope="row" class="align-middle"><%= a.name %></th>
        <td class="align-middle"><%= a.viewName %></td>
        <td class="align-middle"><%= a.View ? a.View.createdAt.toLocaleString() : "La m치s reciente" %></td>
        <td class="align-middle"><%= a.controllerName %></td>
        <td class="align-middle"><%= a.Controller ? a.Controller.createdAt.toLocaleString() : "La m치s reciente" %></td>
      </tr>
    <% }); %>
  </tbody>
  <tfoot class="table-primary">
  </tfoot>
</table>