<table class="table table-sm table-striped table-hover table-borderless caption-top" id="controllersTable">
  <caption>Controladores disponibles</caption>
  <thead class="table-primary">
    <tr>
      <th scope="col" class="align-middle"><input type="checkbox"></input></th>
      <th scope="col" class="align-middle"></th>
      <th scope="col" class="align-middle"></th>
      <th scope="col" class="align-middle">Nombre</th>
      <th scope="col" class="align-middle">Fecha</th>
      <th scope="col" class="align-middle">Lenguaje</th>
      <th scope="col" class="align-middle">Ruta</th>
      <th scope="col" class="align-middle">Id</th>
    </tr>
  </thead>
  <tbody>
    <% result.forEach(function(c){ %>
      <tr id="controller-<%= c.id %>">
        <td class="align-middle"><input type="checkbox"></input></td>
        <td class="align-middle"><i class="bi bi-pencil" style="cursor:pointer"></i></td>
        <td class="align-middle"><i class="bi bi-trash" style="cursor:pointer"></i></td>
        <th class="align-middle" scope="row"><%= c.name %></td>
        <th class="align-middle" scope="row"><%= c.createdAt %></th>
        <td class="align-middle"><%= c.type %></td>
        <td class="align-middle"><%= c.path %></td>
        <td class="align-middle"><%= c.id %></td>
      </tr>
    <% }); %>
  </tbody>
</table>