<table class="table table-sm table-striped table-hover table-borderless caption-top" id="usersTable">
  <caption>Usuarios</caption>
  <thead class="table-primary">
    <tr>
      <th class="align-middle" scope="col"><input type="checkbox"></input></th>
      <th scope="col">#</th>
      <th scope="col">Usuario</th>
      <th scope="col">Nombre Completo</th>
      <th scope="col">Contraseña</th>
      <th scope="col">E-mail</th>
      <th scope="col">Permisos</th>
    </tr>
  </thead>
  <tbody>
    <% result.forEach(function(user){ %>
      <tr>
        <td class="align-middle"><input type="checkbox"></input></td>
        <th scope="row"><%= user.id %></th>
        <td><input type="text" value="<%= user.username %>" title="Identificador de usuario." /></td>
        <td><input type="text" value="<%= user.displayName %>" title="Nombre completo del usuario." /></td>
        <td><input type="text" value="<%= user.password %>" title="Contraseña del usuario." /></td>
        <td><input type="text" value="<%= user.emails %>" title="Correo electrónico"/></td>
        <td><input type="text" value="<%= user.permissions %>" title="Permisos del usuario: {ADMIN|RO|USER}. Puede introducir varios, separados por comas."/></td>
      </tr>
    <% }); %>
    <tr> <!-- A new item -->
      <td class="align-middle"><input type="checkbox"></input></td>
      <th scope="row"></th>
      <td><input type="text" value="" placeholder="usuario" title="Identificador de usuario." /></td>
      <td><input type="text" value="" placeholder="nombre completo" title="Nombre completo del usuario." /></td>
      <td><input type="text" value="" placeholder="contraseña" title="Contraseña del usuario." /></td>
      <td><input type="text" value="" placeholder="correo electrónico" title="Correo electrónico"/></td>
      <td><input type="text" value="" placeholder="permisos" title="Permisos del usuario: {ADMIN|RO|USER}. Puede introducir varios, separados por comas."/></td>
    </tr>
</tbody>
</table>