<table class="table table-sm table-striped table-hover table-borderless caption-top" id="viewsTable">
  <caption>Vistas disponibles</caption>
  <thead class="table-primary">
      <tr>
        <th class="align-middle" scope="col"><input type="checkbox"></input></th>
        <th class="align-middle" scope="col"></th>
        <th class="align-middle" scope="col"></th>
        <th class="align-middle" scope="col">Nombre</th>
        <th class="align-middle" scope="col">Fecha</th>
        <th class="align-middle" scope="col">Id</th>
        <th class="align-middle" scope="col">Ruta Principal</th>
        <th class="align-middle" scope="col">Ruta Descripcion</th>
      </tr>
  </thead>
  <tbody>
      <%
        var i = 0, j = 0, n = 20;
        result.forEach(v => {
          i = (i < n) ? i + 1 : 1;
          if (i == 1) {
            j += 1; 
      %>
      <div id="page_<%= j %>">
      <%  } %>
        <tr id="view-<%= v.id %>">
          <td class="align-middle"><input type="checkbox"></input></td>
          <td class="align-middle"><i class="bi bi-pencil" style="cursor:pointer"></i></td>
          <td class="align-middle"><i class="bi bi-trash" style="cursor:pointer"></i></td>
          <th class="align-middle" scope="row"><%= v.name %></th>
          <th class="align-middle" scope="row"><%= v.date %></td>
          <td class="align-middle"><%= v.id %></td>
          <td class="align-middle"><%= v.path %></td>
          <td class="align-middle"><%= v.description %></td>
        </tr>
      <%  if (i == n) { %>
      </div>
      <% 
        }
      }); %>
  </tbody>
</table>