<html>
	<head> 
		<%- include('ui/header'); %>
		<link href="/stylesheets/table.css" rel="stylesheet">
		<link href='/stylesheets/template_routes.css' rel='stylesheet'>
	</head>
	<body>
	    <%- include('ui/menu', {user: user, active: 'data'}); %>
		<div id="cabeceraDiv" class="container">
			<p><strong><font color="#CC0000" size="6">&nbsp;<img src="/images/imagenes/lupa.gif" width="28" height="27" align="absmiddle"> Archivos de experimentos del usuario: <%= user.displayName %></font></strong></p>
			<hr size="4" noshade color="#660000">
			<blockquote>
			<p class="instrucciones"> 
				A continuación se muestra un listado de los archivos de
				datos de los experimentos que ha realizado. Se encuentran ordenados según la fecha 
				y hora en que se realizaron. Para descargar cualquier archivo de datos, pulse sobre
				el botón de la derecha. 
			</p>
		</div>
		<div class="container-fluid d-flex justify-content-center">
			<table class="w-50 table table-sm table-striped table-hover table-borderless" id="experimentsTable">
				<thead class="table-primary">
					<tr>
						<th scope="col">Día</th>
						<th scope="col">Hora</th>
						<th scope="col">Tamaño</th>
						<th scope="col">Enlace</th>
					</tr>
				</thead>
				<tbody>
					<% 
						function getDate(d) { return new Date(d).toLocaleDateString(); };
						function getTime(d) {	return new Date(d).toLocaleTimeString(); };
						function getSize(d) {	return (d/1000).toFixed(1) + ' kB'; };
						files.forEach(function(f){
					%>
					<tr>
						<th scope="row"><%= getDate(f.date) %></th>
						<td><%= getTime(f.date) %></td>
						<td><%= getSize(f.size) %></td>
						<td><a href="/download/<%= f.name %>"><i class="bi bi-download"></i></a></td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</body>
</html>
