<style type="text/css" media="screen">
  .editor {
    height: 400pt;
  }
</style>
<div class="nav nav-tabs flex-row h-100" id="pills-tab" role="tablist" aria-orientation="horizontal">
  <% for (var i=0; i<files.length; i++) { %>
  <button 
    class="nav-link fs-6<% if(i==0) {%> active<% } %>"
    id="label-<%= prefix+'-'+i %>"
    data-bs-toggle="tab"
    data-bs-target="#tab-<%= prefix+'-'+i %>"
    type="button"
    role="tab"
    aria-controls="tab-<%= prefix+'-'+i %>"
    aria-selected="<% if(i==0) {%>true<% } else { %>false<% } %>"><%= files[i].filename %>
  </button>
  <% } %>
</div>
<div class="tab-content" id="pills-tab-content">
  <% for (var i=0; i<files.length; i++) { %>
  <div    
    class="tab-pane fade<% if(i==0) {%> show active<% } %>"
    id="tab-<%= prefix+'-'+i %>"
    role="tabpanel"
    aria-labelledby="label-<%= prefix+'-'+i %>">
    <div class="editor" id="editor-<%= prefix %>-<%= i %>"></div>
    <div>
        <button class="btn btn-success" id="save-file-<%= files[i].filename %>" type="button" onclick="save('editor-<%= prefix %>-<%= i %>', '<%= files[i].filename %>', 'admin/<%= prefix %>/set')">Guardar <%= files[i].filename %></button>
    </div>
  </div>
  <% } %>
</div>

<div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="configModalLabel">Guardar Configuración</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          La configuración se ha actualizado correctamente.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>